body.logged-in {
    .my-profile-menu {
        width: 300px;
        padding: 15px;
        .wrapper {
            border: 1px solid #f3f3f3;
            padding-top: 20px;
            padding-bottom: 20px;
            @include box-shadow(0px 0px 10px 2px #f3f3f3);
            .avatar-and-name {
                padding-left: 15px;
                padding-right: 15px;
                figure {
                    width: 40px;
                    overflow: hidden;
                    @include rounded(50%);
                }
                .welcome-name {
                    width: calc(100% - 40px);
                    padding-left: 10px;
                }
            }
        }
        @include breakpoint($sm-down) {
            display: none;
        }
    }
    .my-profile-page-content {
        width: calc(100% - 300px);
        padding: 15px;
        font-size: 16px;
        .profile-page-title {
            font-size: 0;
            > figure {
                img {
                    width: 30px;
                }
            }
            h2 {
                width: calc(100% - 30px);
                padding-left: 15px;
            }
        }
        @include breakpoint($sm-down) {
            width: 100%;
            padding: 0;
        }
    }
}

.bootbox {
    &.before-sending-email-confirmation-popup {
        .modal-dialog {
            width: 95%;
            max-width: 800px;
            .modal-body {
                padding: 20px 50px;
                position: relative;
                .bootbox-close-button {
                    float: none;
                    margin-top: auto !important;
                    position: absolute;
                    top: 0;
                    font-size: 40px;
                    right: 15px;
                }
                .single-line {
                    border-bottom: 1px solid #b7b7b7;
                    label {
                        color: #777777;
                    }
                }
                @include breakpoint($xs) {
                    padding: 20px 15px;
                }
            }
        }
    }
}

.line-crossed-title {
    position: relative;
    span {
        background-color: white;
        padding-right: 10px;
    }
    &:after {
        content: '';
        height: 3px;
        left: 0;
        z-index: -1;
        width: 100%;
        background-color: black;
        @include vertical-align(absolute);
    }
}

.ready-to-purchase-with-external-api {
    .border-light-gray {
        margin-bottom: 20px;
        border-bottom: 1px solid #e4e4e4;
    }
    nav {
        font-size: 0;
        ul {
            li {
                width: 50%;
                a {
                    display: block;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: #dddddd;
                    color: #555555;
                    text-align: center;
                    font-size: 20px;
                    font-family: 'Calibri-Bold';
                    @include rounded(4px);
                    &.active {
                        color: white;
                        background-color: $blue_green_color;
                    }
                    @include breakpoint($xs) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .checkbox-container {
        .pretty.on-white-background.p-svg .state .svg {
            top: 0;
            border-color: $blue_green_color !important;
        }
        .pretty.on-white-background .state label:after, .pretty.on-white-background .state label:before {
            top: 0;
        }
        label {
            a {
                color: $blue_green_color !important;
            }
        }
    }
}

.logged-mobile-profile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100005;
    background-color: rgba(0, 0, 0, 0.6);
    @include simple_transition(.3s);
    nav {
        width: 70%;
        height: 100%;
        background-color: white;
        float: right;
        padding-top: 35px;
    }
    .close-logged-mobile-profile-menu {
        position: absolute;
        top: 10px;
        font-size: 20px;
        right: 20px;
    }
    &.active {
        right: 0;
    }
}