section.contract-proposal {
    .wrapper {
        .step-fields {
            .suggester-parent {
                width: 60%;
                .address-suggester {
                    border: 0;
                    width: 100%;
                    padding: 20px 10px;
                    &:focus {
                        cursor: text;
                        background-color: #eaeaea;
                        background-image: none;
                        @include rounded(0);
                    }
                }
            }
            .singatures-row {
                padding: 0 10px 40px;
                .dentist-sign {
                    width: 300px;
                    margin-right: calc(100% - 600px);
                    figcaption {
                        text-align: right;
                        font-style: italic;
                    }
                }
                .signature-wrapper {
                    width: 300px;
                    text-align: right;
                    canvas {
                        height: 150px;
                    }
                }
                @include breakpoint($xs) {
                    .dentist-sign, .signature-wrapper {
                        display: block;
                        margin: 0 auto;
                        &.dentist-sign {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    .btns-container {
        @include breakpoint($xs) {
            .white-red-btn, .white-blue-green-btn {
                width: 100%;
                font-size: 18px;
                padding: 10px 5px;
                text-align: center;
            }
        }
    }
}