section.contract-proposal {
    .wrapper {
        .step-fields {
            .singatures-row {
                padding: 0 10px 40px;
                .dentist-sign {
                    width: 250px;
                    margin-right: calc(100% - 500px);
                    figcaption {
                        text-align: right;
                        font-style: italic;
                    }
                }
                .signature-wrapper {
                    width: 250px;
                    text-align: right;
                    canvas {
                        height: 150px;
                    }
                } 
            }
        }
    }
}