.contract-creation-steps-container {
    font-size: 0;
    button {
        width: calc(25% - 37.5px);
        font-size: 16px;
        padding: 10px 20px;
        font-family: 'Calibri-Bold';
        display: inline-block;
        @include rounded(4px);
        &.not-passed {
            background-color: white;
            color: $blue_green_color;
            border: 2px solid $light_blue_green_color;
            @include simple_transition(.3s);
            &:hover {
                color: white;
                background-color: $blue_green_color;
                border: 2px solid $blue_green_color;
            }
        }
        &.not-allowed-cursor {
            cursor: not-allowed;
            &:hover {
                background-color: white !important;
                color: $blue_green_color !important;
                border: 2px solid $light_blue_green_color !important;
            }
        }
        &.passed {
            background-color: $light_blue_green_color;
            color: $blue_green_color;
            border: 2px solid $light_blue_green_color;
            background-image: url(/assets/images/check.svg);
            background-repeat: no-repeat;
            background-size: 15px auto;
            background-position: center left 15px;
        }
        &.active {
            color: white;
            background-color: $blue_green_color;
            border: 2px solid $blue_green_color;
            cursor: context-menu;
        }
    }
    .separator {
        width: 50px;
        height: 2px;
        background-color: $light_blue_green_color;
    }
    @include breakpoint($max-lgl) {
        button {
            width: calc(25% - 22.5px);
            padding: 10px 5px;
        }
        .separator {
            width: 30px;
        }
    }
    @include breakpoint($md-only) {
        button {
            &.passed {
                background-position: center left 5px;
                font-size: 14px;
            }
        }
    }
    @include breakpoint($sm-only) {
        button {
            width: calc(25% - 7.5px);
            font-size: 14px;
        }
        .separator {
            width: 10px;
        }
    }
    @include breakpoint($xs) {
        button {
            width: calc(33.333333% - 60px);
            padding: 10px 5px;
            font-size: 12px;
            span {
                display: none;
            }
            &.passed {
                background-size: 10px auto;
                background-position: center left 3px;
            }
            &.active {
                width: 150px;
                span {
                    display: inline-block;
                }
            }
        }
        .separator {
            width: 10px;
        }
    }
}

.steps-body {
    .wrapper {
        margin-top: 40px;
        padding: 0 15%;
        position: relative;
        @include box-shadow(0px 3px 90px -10px rgba(0, 0, 0, 0.4));
        @include rounded(6px);
        .step {
            display: none;
            h3.light-gray-bottom-border {
                border-bottom: 1px solid $light_gray !important;
            }
            &.one {
                display: block;
                .avatar {
                    width: 150px;
                    margin: 0 auto;
                }
            }
            &.three {
                .show-on-services-pick {
                    display: none;
                    &.renew-contract {
                        display: block;
                    }
                }
                .show-category-list {
                    ul {
                        display: none;
                        font-size: 16px;
                        font-family: 'Calibri Light';
                        padding: 5px 0 15px 25px;
                        li {
                            list-style: disc inside none;
                        }
                    }
                    @include breakpoint($xs) {
                        padding-top: 10px;
                        padding-bottom: 5px;
                        ul {
                            padding: 5px 0 15px 0;
                        }
                    }
                }
                @include breakpoint($xs) {
                    .single-checkbox-container {
                        label {
                            width: 100%;
                            padding-left: 5px;
                        }
                    }
                }
            }
            &.four {

            }

            .pretty input[disabled]~* {
                opacity: 1;
            }
            .pretty {
                svg.svg {
                    top: 0;
                }
            }
            .pretty.on-white-background .state label:after, .pretty.on-white-background .state label:before {
                top: 0;
            }
            .pretty label {
                padding-top: 0;
            }
            .pretty.on-white-background.p-svg .state .svg {
                border-color: $blue_green_color !important;
            }
        }
    }
    @include breakpoint($md-only) {
        .wrapper {
            padding: 0 10%;
        }
    }
    @include breakpoint($sm-only) {
        .wrapper {
            padding: 0 5%;
        }
    }
    @include breakpoint($xs) {
        .wrapper {
            padding: 0 5px;
            .fs-18 {
                font-size: 16px !important;
            }
        }
    }
    @include breakpoint($xxs) {
        .wrapper {
            .fs-18, .fs-16 {
                font-size: 14px !important;
            }
        }
    }
}