.single-contract-view-section {
    &.cancelled {
        .contract-participant {
            background-color: #ebebeb;
        }
    }
    &.awaiting-approval {
        .checkbox-container {
            .pretty {
                white-space: normal;
            }
            .pretty .state label:after, .pretty .state label:before {
                top: 0 !important;  
            }
        }
    }
    .camping-withdraw-section {
        .dentist-withdraw {
            &:hover {
                .st0 {
                    fill: $blue_green_color;
                }
            }
        }
    }
    .camping-withdraw-time-left-section {
        h2 {
            color: #888888;
        }
        .clock-container {
            margin-top: 40px;
            margin-bottom: 20px;
            background-color: #ebebeb;
            @include rounded(20px);
            @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.4));
            .clock {
                display: inline-block;
                text-align: center;
                width: auto;
                margin: 0;
                padding-bottom: 20px;
                .flip-clock-label {
                    color: #888888;
                    font-size: 12px;
                    text-transform: uppercase;
                    bottom: -5px;
                    top: auto;
                }
                .flip-clock-divider {
                    height: 60px;
                    .flip-clock-dot {
                        background: #888888;
                        width: 4px;
                        height: 4px;
                        &.bottom {
                            bottom: auto;
                            top: 35px;
                        }
                        &.top {
                            top: 20px;
                        }
                    }
                    &.days {
                        .flip-clock-label {
                            right: -50px;
                        }
                    }
                    &.hours {
                        .flip-clock-label {
                            right: -55px;
                        }
                    }
                    &.minutes {
                        .flip-clock-label {
                            right: -60px;
                        }
                    }
                    @include breakpoint($sm-only) {
                        width: 15px;
                        &:first-child {
                            width: 0;
                        }
                    }
                    @include breakpoint($xxs) {
                        width: 15px;
                        &:first-child {
                            width: 0;
                        }
                    }
                }
                ul {
                    width: 30px;
                    height: 50px;
                    margin: 0;
                    @include box-shadow(none);
                    li {
                        line-height: 50px;
                        background-color: #ebebeb;
                        .inn {
                            font-size: 40px;
                            color: #888888;
                            background-color: #ebebeb;
                            font-family: "Lato-Thin";
                            text-shadow: none;
                        }
                    }
                    @include breakpoint($md-only) {
                        width: 30px;
                        li {
                            .inn {
                                font-size: 35px;
                            }
                        }
                    }
                    @include breakpoint($sm-only) {
                        width: 25px;
                        li {
                            .inn {
                                font-size: 30px;
                            }
                        }
                    }
                    @include breakpoint($xxs) {
                        width: 30px;
                        li {
                            .inn {
                                font-size: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}