.single-contract-view-section {
    &.cancelled {
        .contract-participant {
            background-color: #ebebeb;
        }
    }
    .withdraw-section {
        .dentist-withdraw {
            &:hover {
                .st0 {
                    fill: $blue_green_color;
                }
            }
        }
    }
    .camping-withdraw-time-left-section {
        .clock-container {
            background-color: $blue_green_color;
            @include rounded(20px);
            @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.4)); 
        }
    }
}