.single-contract-view-section {
    &.cancelled {
        .contract-participant {
            background-color: #ebebeb;
        }
    }
    .camping-withdraw-section {
        .dentist-withdraw {
            &:hover {
                .st0 {
                    fill: $blue_green_color;
                }
            }
        }
    }
    .camping-withdraw-time-left-section {
        .clock-container {
            margin-top: 40px;
            margin-bottom: 20px;
            background-color: $blue_green_color;
            @include rounded(20px);
            @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.4));
            .clock {
                display: inline-block;
                text-align: center;
                width: auto;
                margin: 0;
                padding-bottom: 20px;
                .flip-clock-label {
                    color: white;
                    font-size: 12px;
                    text-transform: uppercase;
                    bottom: -25px;
                    top: auto;
                }
                .flip-clock-divider {
                    height: 60px;
                    .flip-clock-dot {
                        width: 7px;
                        height: 7px;
                        left: 6px;
                        &.bottom {
                            bottom: auto;
                            top: 40px;
                        }
                        &.top {
                            top: 25px;
                        }
                    }
                    &.days {
                        .flip-clock-label {
                            right: -75px;
                            @include breakpoint($xxs) {
                                right: -55px;
                            }
                        }
                    }
                    &.hours {
                        .flip-clock-label {
                            right: -80px;
                            @include breakpoint($xxs) {
                                right: -63px;
                            }
                        }
                    }
                    &.minutes {
                        .flip-clock-label {
                            right: -85px;
                            @include breakpoint($xxs) {
                                right: -67px;
                            }
                        }
                    }
                    @include breakpoint($sm-only) {
                        width: 15px;
                        &:first-child {
                            width: 0;
                        }
                    }
                    @include breakpoint($xxs) {
                        width: 15px;
                        &:first-child {
                            width: 0;
                        }
                    }
                }
                ul {
                    width: 50px;
                    height: 60px;
                    li {
                        line-height: 60px;
                        .inn {
                            font-size: 45px;
                        }
                    }
                    @include breakpoint($xxs) {
                        width: 30px;
                        li {
                            .inn {
                                font-size: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}